.text-success{
color:#1fbe0e;
}

.text-dangerous,
.text-danger,
.text-error{
color:#cc0000;
}

.text-muted{
color:#999;
}

.button .dashicons{
margin-top:3px;
}

.text-info,
.widefat TD.text-info{
color:#0074a2;
}

UL.subsubsub LI{
padding-right:15px;
border-right:solid 1px #ccc;
margin-right:15px;
}

UL.subsubsub LI:last-child{
border-right:0;
}

.shipinfo-list-ordering{
float:right;
}

.shipinfo-list-ordering TD{
font-size:13px;
}

.shipinfo-form-table TD{
vertical-align:middle;
}

.shipinfo-table-controls{
margin-bottom:8px;
}

.shipinfo-page-heading{
margin-top:10px;
margin-bottom:40px;
display:table;
}

.shipinfo-page-heading H3{
display:table-cell !important;
margin:0 !important;
padding:0 !important;
font-size:20px !important;
}

.shipinfo-action-links{
display:table-cell;
padding-left:30px;
}

p.submit BUTTON{
margin-right:9px !important;
}

.form-invalid .validation-message{
color:#cc0000 !important;
}

.meta-box-error .stuffbox{
border-color:#cc0000;
}

.meta-box-error .stuffbox H3{
background:#cc0000;
color:#fff;
}

TABLE.trace-table{
font-size:13px;
}

/* displaying the update nag has the wrong margin when used in the wrap */
.wrap .update-nag{
margin-top:0;
margin-bottom:20px;
}

.wrap .update-nag > P{
margin:0;
}

.form-table .field-static TH,
.form-table .field-static TD{
padding-top:6px;
padding-bottom:6px;
}

UL.list-toolbar > LI{
float:left;
margin-right:6px;
}

UL.list-toolbar LI.list-toolbar-separator{
width:1px;
height:28px;
background:#ccc;
margin-left:4px;
margin-right:10px;
}