.icon-public{
color:#1fbe0e;
}

.icon-private{
color:#cc0000;
}

.button .dashicons{
margin-top:3px;
}

.text-info,
.widefat TD.text-info{
color:#0074a2;
}

UL.subsubsub LI{
padding-right:15px;
border-right:solid 1px #ccc;
margin-right:15px;
}

UL.subsubsub LI:last-child{
border-right:0;
}

.shipinfo-list-ordering{
float:right;
}

.shipinfo-list-ordering TD{
font-size:13px;
}

.shipinfo-form-table TD{
vertical-align:middle;
}

.shipinfo-table-controls{
margin-bottom:8px;
}

.shipinfo-page-heading{
margin-top:10px;
margin-bottom:40px;
display:table;
}

.shipinfo-page-heading H3{
display:table-cell !important;
margin:0 !important;
padding:0 !important;
font-size:20px !important;
}

.shipinfo-action-links{
display:table-cell;
padding-left:30px;
}

p.submit BUTTON{
margin-right:9px !important;
}

.form-invalid .validation-message{
color:#cc0000 !important;
}